<div class="jumbotron">
    <h2><?=$this->translate("Welcome to self check system")?></h2>
</div>

<div class="row justify-content-center">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"><label for="library-card"><?=$this->translate("Enter your library card:")?></label></h3>
                <p class="card-text">
                    <form id="" class="form-inline" action="/patron/info">
                        <div class="form-group">
                            <input id="library-card" name="library-card" class="form-control" type="text"  placeholder="<?=$this->translate("Your library card number")?>"/>
                        </div>
                        <button type="submit" class="btn btn-primary"><?=$this->translate("Submit")?></button>
                    </form>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h3><?=$this->translate("Quick help")?></h3>
        <ol>
            <li><?=$this->translate("Use barcode scanner/RFID reader to insert identification number of your library card")?></li>
            <li><?=$this->translate("Choose if you are going to check in or check out items")?></li>
            <li><?=$this->translate("Scan barcodes of processed item")?></li>
            <li><?=$this->translate("And so on")?></li>
            <li><?=$this->translate("and so on")?></li>
        </ol>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $("#library-card").focus();
    });
</script>
