<?= $this->doctype() ?>
<html>
    <head>
        <meta charset="utf-8">
        <?= $this->headTitle('Open source self check')->setSeparator(' - ')->setAutoEscape(false) ?>

        <?= $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'])
            ->prependStylesheet($this->basePath('css/style.css'))
            ->prependStylesheet($this->basePath('css/bootstrap.min.css'))
            ->prependStylesheet($this->basePath('css/font-awesome.min.css'))
        ?>

        <!-- Scripts -->
        <?= $this->headScript()
            ->prependFile($this->basePath('js/bootstrap.min.js'))
            ->prependFile($this->basePath('js/jquery.min.js'))
        ?>
    </head>
    <body>
        <div class="container">
            <header>
                <h1>
                    <img id="logo" src="<?=$this->config["logo"]?>" />
                    <?=$this->config["libraryName"]?>
                </h1>
                <?php if(isset($this->config["selfcheckName"]) && !empty($this->config["selfcheckName"])):
                ?>
                    <h2><small class="text-muted"><?=$this->config["selfcheckName"]?></small></h2>
                <?php endif; ?>
            </header>
            <hr />
            <?= $this->content ?>
            <hr />
            <footer>
                <p>&copy; 2017 opensource.knihovna.cz. <?=$this->translate("Powered by")?> <a href="https://open-self-check.org">Tohu</a></p>
            </footer>
        </div>
        <?= $this->inlineScript() ?>
    </body>
</html>
