@media screen {

	/* keypad */
	.keypad {
		width:450px;
	}

	.keypad td {
		width:33%;
		padding:10px;
		text-align:center;
		vertical-align: center;
	}

	.keypad div{
		-moz-border-radius:8px;
		width:85%;
		margin: auto;
		background-color:#CCC;
		color:#000;
		text-align:center;
		font-size:3.5em;
		font-weight:bold;
		font-family: Arial, sans-serif;
		border: 4px solid #333;
	}
	.keypad div:active {
		background-color: #333;
		color:#fff;
	}
	.keypad td span {
		font-size:.5em
	}

	.keypad .keypad_screen {
		font-size:3em;
		font-weight:bold;
		font-family: Arial, sans-serif;
		background-color: #F0F0F0;
		height:50px;
		vertical-align:center;
		padding:3px;
	}


	#keypad_container {
		display:none;
	}

	#keypad_icon {
		width:150px;
		position:absolute;
		right:10%;
		top:75px;
		text-align: right;
		font-size:1.3em;
		font-weight:bold;
		color:#000;
	}

	#keypad_icon p{
		line-height:.9em;
		white-space:nowrap;
	}

	/* buttons & prompts */
	.button {
		cursor:pointer;
		width:250px;
		border:5px solid #333;
		-moz-border-radius:8px;
	}

	.button h1 {
		text-align:center;
		color:#333;
		padding:25px;
		white-space:nowrap;
	}

	.cancel_button {
		background-color:#b60606;
	}

	.cancel_button h1 {
		color:white;
	}

	#cko_buttons {
		display:none;
		width:70%;
		margin:10px auto 10px auto;
	}

	#cko_buttons td {
		width:33%;
	}

	#idle_timer {
		display:none;
	}

	#idle_timer .ok_button {
		margin:10px auto 10px auto;
	}

	.ok_button {
		background-color:#c2ea6d;
	}

	#pre_cko_buttons {
		width:250px;
		margin:10px auto 10px auto;
	}
	#prompt {
		padding:30px;
		background-color:#fff;
		z-index:1500;
		border:5px solid #333;
		-moz-border-radius:8px;
		clear:both;
		overflow:visible;
	}

	#prompt .button {
		margin:25px auto 0 auto;
		width:150px;
	}

	#prompt h1{
		text-align:center;
		white-space:nowrap;
	}
	.prompt_container {
		display:none;
	}
	#response h2 {
		color:#b60606;
	}

	.thanks_button {
		background-color:#ccc;
		display:none;
	}

	/* classes for blinking barcodes on card and book images */
	#swap {
		position:relative;
	}

	#swap img {
		display:none;
	}

	#swap img.active {
		display:block;
	}

	/* home & welcome pages */
	#banner_title {
		font-weight:bold;
		font-size:1.2em;
		width:768px;
		margin:0 auto 0 auto;
		padding:0;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}

	#banner_title h2 {
		color:#b60606;
		white-space:nowrap;
		font-family:helvetica;
		line-height:.7em;
		font-size:4em;
		padding-bottom:3px;
		margin:350px 0 0 150px; /* the top margin here will need adjusted to position the text/images to suit your screen size/resolution */
	}

	#banner_title h2 span {
		font-size:.5em;
	}

	#banner {
		background-color:#333;
		padding:18px 10px 20px 18px;
		width:730px;
		margin:8px auto 0 auto;
		z-index:1000;
	}

	#banner h2 {
		font-size:2em;
		font-weight:bold;
		color:#ffff66;
		white-space:nowrap;
		text-align: center;
		width:100%;
		margin-left:8px;
	}

	#banner img{
		margin:-72px 0 0 -50px
	}

	#cko_head h1 {
		color:#b60606;
		font-family:helvetica;
		line-height:.8em;
		color:#b60606;
	}

	#cko_head {
		margin:65px 15% 0;
		z-index:1000
	}

	#cko_head img{
		margin:-10px 0 0 -50px
	}

	.header h1 {
		color:#b60606;
		font-family:helvetica;
		line-height:.7em;
		position:absolute;
		top:10px;
		padding-bottom:3px;
	}

	.welcome {
		outline: none;
		border: none;
		text-decoration: none;
		white-space: nowrap;
		vertical-align: middle;
		display: -moz-inline-box;
		display: inline-block;
		color: #333;
		font-size: 118%;
		font-weight: bold;
		padding: 5px 7px 4px 7px;
		margin-top: 0.3em;
	}

	.welcome:hover {
		text-decoration: none;
	}

	/* cko page */
	#item_list { /*the height and width of the cko list may need adusted to suit your screen size/resolution */
		height:600px;
		max-height:600px;
		overflow-x:scroll;
		overflow-x:hidden;
	}

	#item_list table {
		width:100%;
		font-weight:bold;
	}

	#item_list .loading {
		width:16px;
		height:11px;
		margin:5px auto 5px auto;
		display:none;
	}

	#cko_count {
		color: #FFFF66;
	}

	#cko_border h2 {
		text-align:center;
		background-color:#ffff99;
		color:#333;
		padding:3px;
		border-bottom:1px solid #CCC;
	}

	#cko_border .cko_column_head {
		width:100%;
		font-weight:bold
	}

	#cko_border .cko_column_head td {
		background-color:#F0F0F0;
		font-size:125%;
		font-weight:bold;
		border-bottom:1px solid #CCC;
		color:#333;
		white-space:nowrap;
	}

	.cko_item {
		font-size:125%;
		border-bottom:1px dotted #CCC;
		vertical-align:top;
	}

	#cko_border {
		background-color:#fff;
		border:10px solid #4d8b27;
		-moz-border-radius-bottomright:8px;
		-moz-border-radius-bottomleft:8px;
	}
	#print_item_list table {
		width:100%;
	}
	#print_item_list {
		display:none;
	}
	.tab {
		outline: none;
		border: none;
		text-decoration: none;
		white-space: nowrap;
		vertical-align: middle;
		display: -moz-inline-box;
		display: inline-block;
		background-color: #4d8b27;
		color: #FFFF66;
		font-size: 118%;
		font-weight: bold;
		padding: 5px 7px 4px 7px;
		margin-top: 0.3em;
		text-align:right;
		-moz-border-radius-topleft:8px;
		-moz-border-radius-topright:8px;

	}

	.tab:hover{
		text-decoration: none;
	}

	.tab span {
		color:#fff;
	}

	#cko_wrapper {
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		padding: 10px;
		width:70%;
		margin:-30px 15% 15px 15%;
		background-color:none;
		position:absolute;
	}

	#cko_wrapper div:first-child{
		text-align:right;
	}

	/* footer */
	.footer {
		color:#333;
		margin:10px 0;
		padding-bottom:4px;
		padding-top:4px;
		width:100%;
		font-weight:bold;
		font-size:1.2em;
	}

	/* general styles */
	body {
		font-size:72.5%;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		margin:0;
		padding:0;
		background-color: #FFF;
		background-image:url('../images/gradient.png');
		background-repeat:repeat-x;
		height:100%;
		width:100%;
	}

	p, label {
		font-size:1.2em;
		padding:0;
		margin:0
	}

	H1 {
		font-size:2em;
		padding:0;
		margin:0;
		color:#333;
	}

	H2 {
		font-size:1.5em;
		padding:0;
		margin:0;
	}

	H3 {
		font-size:1.3em;
		padding:0;
		margin:0;
	}

	H4 {
		font-size:1.2em;
		padding:0;
		margin:0;
		font-weight:bold;
	}

	table {
		border-collapse:collapse;
		margin:0 auto;
	}

	div{
		padding:0;
		margin:0;
	}

	a {
		color:#004b91;
		text-decoration:none;
		font-size:1.1em;
		font-weight:normal;
	}

	a:hover{
		text-decoration:underline;
	}

	img{
		border:0;
	}

	html {
		height:100%;
		width:100%;
		overflow:hidden;
	}

	.corners {
		-moz-border-radius:8px;
	}

}

@media print  {

	div {
		display:none;
	}
	#print_item_list {
		font-family: Arial, sans-serif;
		font-weight:bold;
		display:block;
	}

}
